/* reviews.css */
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.reviews {
  padding: 100px 0px;
  background-color: #21743e;
  color: #fefefe;
}

.reviews__title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fefefe;
  margin-bottom: 70px;
}

.slick-initialized .reviews__item {
  display: flex;
}

.reviews__item {
  border: 1px solid #c5ac2d;
  padding: 45px 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  min-height: 300px;
  text-align: center;
  margin-right: 30px;
}

.reviews__item-name {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #c5ac2d;
}
.slick-dots li.slick-active button:before {
  color: #c5ac2d;
}

.reviews__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reviews__slider button {
  margin: 0px 5px;
  line-height: 12px;
}
