.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  background: rgb(0, 255, 14);
  background: linear-gradient(
    158deg,
    rgba(0, 255, 14, 1) 0%,
    rgba(16, 109, 8, 1) 28%,
    rgba(9, 121, 17, 1) 38%,
    rgba(8, 139, 32, 1) 54%,
    rgba(28, 128, 9, 1) 65%,
    rgba(30, 129, 8, 1) 70%,
    rgba(79, 201, 7, 1) 81%,
    rgba(0, 255, 21, 1) 100%
  );
}

.header__inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__List {
  display: flex;
}

.menu__item {
  margin: 0px 15px;
}

.menu__listLink {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fefefe;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-family: "Roboto Condensed";

  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.menu__listLink:hover {
  border-bottom: 1px solid #fefefe;
}

.phone {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fefefe;
  text-transform: uppercase;
}
