.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.top {
  padding-top: 60px;
  padding-bottom: 60px;
}
.items {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.item {
  padding: 25px 130px;
  color: #ffffff;
  font-size: 17px;

  line-height: 1;
  font-weight: 400;
  border-radius: 20px;
  background-color: #37a607;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  cursor: pointer;
  transition: all 0.5s;

  display: flex;
  flex-direction: column; /* Ставим элементы в колонку */
  align-items: center; /* Центрируем по горизонтали */
  text-align: center; /* Центрируем текст */
  max-width: 100px; /* Ограничиваем ширину контейнера */
}
.item:hover {
  transform: scale(1.25);
}

.gradient {
  display: flex;
  justify-content: space-evenly; /* Равномерное распределение */
  align-items: center; /* Выравнивание по центру */
  gap: 20px; /* Добавляем промежуток между блоками */

  background: rgb(0, 255, 14);
  background: linear-gradient(
    158deg,
    rgba(0, 255, 14, 1) 0%,
    rgba(16, 109, 8, 1) 28%,
    rgba(9, 121, 17, 1) 38%,
    rgba(8, 139, 32, 1) 54%,
    rgba(28, 128, 9, 1) 65%,
    rgba(30, 129, 8, 1) 70%,
    rgba(79, 201, 7, 1) 81%,
    rgba(0, 255, 21, 1) 100%
  );
  border-radius: 12px;
  background-size: cover; /* Растягивает картинку на всю ширину и высоту */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Отключает повторение */
  height: 400px; /* Укажи нужную высоту */
  align-items: center;

  color: white; /* Если текст есть, чтобы он был виден */
}
/* .text {
  padding-top: 17px;
  text-align: center;
  text-align: center;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  margin: 0 auto 20px;
  padding-bottom: 50px;

  color: #595a5e;
} */

.image {
  /* background-image: url(../../../public/porshe.avif); */
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 315px;

  width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.topTitle {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 144px;
  line-height: 58px;
  margin: 0 auto 20px;
  max-width: 455px;
  color: #02050199;
  margin-left: -2px;
}

.topContent {
  text-align: center;
  width: 50%;
}

.topText {
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 28px;
  margin: 0 auto 60px;
  max-width: 605px;
  padding-top: 39px;
}

.topItemText {
  width: 150px;
  color: #ffffff;
  font-size: 17px;
  line-height: 22px;
}

.icon {
  margin-left: 50px;
}
